.venv/
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class

dist/
pkg/
src/wutheringwaves-cli-manager-*/
*.pkg.tar.zst
source.tar.gz
*.tar.gz
PKGBUILD

# Test and development
test-scripts/
*.exe
*.dll
*.zip
group_*_output/
Client/
